<ion-modal-view>
    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">QUIENES SOMOS</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-close-circled"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-avatar item-text-wrap stable-bg waves-effect waves-block waves-dark" style="color:#000">
                <span class="avatar" style="background-image: url('../img/mr-rogers.jpg');"></span>
                <strong>Héctor Rodríguez Velásquez</strong><br />
                Diseñador - Desarrollador Software
                <div class="card-footer">
                   <p><i class="icon ion-social-twitter positive"></i> 
                    @HectorCanaimero</p>
                    <p><i class="icon ion-email assertive"></i>
                    rodriguez.hectoralejandro@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-avatar item-text-wrap stable-bg waves-effect waves-block waves-dark" style="color:#000">
                <span class="avatar" style="background-image: url('../img/mr-rogers.jpg');"></span>
                <strong>Angel Guadarrama</strong><br />
                Desarrollador Software - Beta Tester
                <div class="card-footer">
                    <p><i class="icon ion-social-twitter positive"></i> 
                    @fr33co </p>
                    <p><i class="icon ion-email assertive"></i>
                    guadarramaangel@gmail.com </p>
                </div>
            </div>
        </div>

         <div class="card">
            <div class="item item-avatar item-text-wrap stable-bg waves-effect waves-block waves-dark" style="color:#000">
                <span class="avatar" style="background-image: url('../img/mr-rogers.jpg');"></span>
                <strong>José Manuel Espinoza</strong><br />
                Desarrollador 
                <div class="card-footer">
                    <p><i class="icon ion-social-twitter positive"></i> 
                    @jmespiz</p>
                    <p><i class="icon ion-email assertive"></i>
                    josemespizl@gmail.com </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>