<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.catuche.CiudadMaracay" version="1.1.0" versionCode="23" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Carabobo Movíl</name>
  <description>
        App del Gobierno Bolivariano de Carabobo.
    </description>
  <author email="rodriguez.hectoralejandro@gmail.com" href="http://catuche.com.ve">
        Héctor Rodríguez Velásquez
    </author>
  <content src="www/index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
  <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/screen/android/ldpi.png"/>
  <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/screen/android/mdpi.png"/>
  <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/screen/android/hdpi.png"/>
  <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/screen/android/xhdpi.png"/>
  <access origin="*"/>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
  </platform>
</widget>
